<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.nudz.www.trainingapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".TrainingApp"
        android:allowBackup="true"
        android:icon="@drawable/icons8_filter"
        android:roundIcon="@drawable/icons8_filter_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|mcc|mnc"
            android:screenOrientation="landscape"/>
        <!-- Training must not be interrupted by rotation, keyboard, or other config changes -->
        <activity
            android:name=".training.TrainingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|mcc|mnc"
            android:screenOrientation="landscape" />
        <activity
            android:name=".preferences.PreferenceActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
    </application>

</manifest>